/* =========================
   BASIC RESET
========================= */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: #f4f6f8;
    color: #17212b;
}


/* =========================
   SIDEBAR
========================= */

.sidebar {
    position: fixed;
    left: 0;
    top: 0;

    width: 220px;
    height: 100vh;

    background: #17212b;
    color: white;

    padding: 25px 14px;

    display: flex;
    flex-direction: column;
}


.logo {
    display: round;
    align-items: right;

    gap: 12px;

    padding: 10px;

    margin-bottom: 20px;
}

.logo-icon {
    width: 150px;
    height: 150px;

    border-radius: 20px;

    overflow: hidden;

    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;  /* how many space need in lower side  */
}
.logo-icon img {
    width: 100%;
    height: 100%;

    object-fit: cover;
}

.logo h2 {
    font-size: 17px;
    margin-bottom: 3px;
}

.logo span {
    font-size: 10px;
    color: #aeb8c2;
}


/* Navigation */

nav {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.menu {
    text-decoration: none;
    color: #dce3e8;

    padding: 14px 15px;

    border-radius: 7px;

    display: flex;
    align-items: center;
    gap: 15px;

    font-size: 14px;
}

.menu:hover {
    background: #24313c;
}

.menu.active {
    background: #078b65;
    color: white;
}


/* Sidebar bottom */

.sidebar-bottom {
    margin-top: auto;

    border-top: 1px solid #34414c;

    padding: 18px 8px;
}

.sidebar-bottom p {
    font-size: 12px;
    font-weight: bold;
    margin-bottom: 5px;
}

.sidebar-bottom small {
    font-size: 9px;
    color: #9da8b1;
}


/* =========================
   MAIN CONTENT
========================= */

.main {
    margin-left: 220px;

    min-height: 100vh;

    padding: 40px 35px;
}


/* =========================
   TOPBAR
========================= */

.topbar {
    margin-bottom: 22px;
}

.topbar h1 {
    font-size: 27px;
    margin-bottom: 7px;
}

.topbar p {
    font-size: 13px;
    color: #71808d;
}


/* =========================
   CONTENT BOX
========================= */

.content-box {
    background: white;

    border-radius: 8px;

    padding: 25px;

    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.06);

    margin-bottom: 18px;
}


/* Header */

.content-header {
    margin-bottom: 22px;
}

.content-header h2 {
    font-size: 20px;
    margin-bottom: 5px;
}

.content-header p {
    font-size: 12px;
    color: #71808d;
}


/* =========================
   FORM
========================= */

.order-form {
    display: flex;
    flex-direction: column;

    width: 600px;

    gap: 18px;
}


/* Input and Select */

.order-form input,
.order-form select {
    width: 100%;

    height: 40px;

    padding: 0 12px;

    border: 1px solid #d6dde2;

    border-radius: 6px;

    background: white;

    font-size: 13px;

    outline: none;
}


/* Focus */

.order-form input:focus,
.order-form select:focus {
    border-color: #079669;

    box-shadow: 0 0 0 2px rgba(7, 150, 105, 0.1);
}


/* Placeholder */

.order-form input::placeholder {
    color: #9aa5ad;
}


/* =========================
   ADD PRODUCT BUTTON
========================= */

.order-form button {
    width: 130px;

    height: 38px;

    border: none;

    border-radius: 6px;

    background: #078b65;

    color: white;

    font-size: 13px;

    font-weight: bold;

    cursor: pointer;

    transition: 0.2s;
}

.order-form button:hover {
    background: #056f52;

    transform: translateY(-1px);
}

.order-form button:active {
    transform: translateY(0);
}


/* =========================
   INFORMATION BOX
========================= */

.info-box {
    margin-top: 16px;

    padding: 18px 22px;

    background: #eaf7f3;

    border: 1px solid #c6e9df;

    border-radius: 7px;

    display: flex;

    align-items: flex-start;

    gap: 15px;
}

.info-icon {
    font-size: 20px;
}

.info-box h3 {
    font-size: 13px;

    margin-bottom: 5px;
}

.info-box p {
    font-size: 11px;

    color: #60716d;

    line-height: 1.5;
}


/* =========================
   RESPONSIVE
========================= */

@media (max-width: 800px) {

    .sidebar {
        width: 180px;
    }

    .main {
        margin-left: 180px;

        padding: 25px;
    }

    .order-form {
        width: 100%;
    }
}


@media (max-width: 600px) {

    .sidebar {
        position: relative;

        width: 100%;
        height: auto;
    }

    .main {
        margin-left: 0;

        padding: 20px;
    }

    .logo {
        margin-bottom: 20px;
    }

    .sidebar-bottom {
        display: none;
    }
}